.description {
    padding-bottom: 0;
}

.description__list {
    justify-content: center;
    gap: 30px;
    display: flex;
}

.description__image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: $button-background-color;
}

.description__icon {
    width: 70px;
    height: 70px;
}

.description__title {
    margin-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.14;
}

.description__text {
    line-height: 1.71;
    color: $text-color;
}