.description {
    padding-bottom: 0;
}

.description__list {
    @media(min-width:769px){
        justify-content: center;
        gap: 30px;
        display: flex;
    }
    
}
.description__block{
    @media(max-width:480px){
        margin-bottom: 30px;
    }
}

.description__image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: $button-background-color;
    @media(max-width: 480px){
        width: 100%;
    }
}

.description__icon {
    width: 70px;
    height: 70px;
}

.description__title {
    margin-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.14;
    @media(max-width:480px){
        text-align: center;
    }
}

.description__text {
    line-height: 1.71;
    color: $text-color;
    
}