.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $secondary-background-color;
    @media(max-width: 768px){
        width: fit-content;
    }
}

.footer__container {
    @media(min-width:769px){
        display: flex;
        align-items: baseline;
    }
}

.address-wrapper {
    min-width: 231px;
}

.footer__list-container {
    margin-top: 20px;
    @media(max-width:480px){
        margin-top: 28px;
    }
}

.footer__contact-list {
    letter-spacing: 0.02em;
    
}

.footer__contact-link {
    letter-spacing: 0.03em;
    font-weight: 400;
    line-height: 1.71;
    text-decoration: none;
    color: $info-color;
    @media(max-width:480px) {
        display: flex;
        justify-content: center;
    }
    
}
.footer__logo {
    font-family: "raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    color: $accent-color;
    @media(max-width:480px){
        display: flex;
        justify-content: center;
    }
}
.footer__studio-logo {
    color: $background-color;
}

.address-info {
    margin-bottom: 9px;
    line-height: 1.71;
    font-style: normal;
    color: $background-color;
    @media(max-width:480px){
        display: flex;
        justify-content: center;
        margin-bottom: 12px;
    }
}

.footer__tel {
    margin-top: 9px;
    @media(max-width:480px) {
        display: flex;
        justify-content: center;
        margin-top: 12px;
    }
}