.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: solid #ececec;
    background-color: $background-color;
    @media(min-width: 481px) and (max-width: 768px) {
        width: fit-content;
        padding: 21px 0;
    }
    @media(max-width: 480px){
        padding: 10px 0;
    }
}
.header__container {
    justify-content: space-between;
    display: flex;
}