.hero {
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/background-image.jpg);
    max-width: 1600px;
    margin: 0 auto;
    background-size: cover;
    padding: 118px 0;
    text-align: center;
    background-position: center;
    padding: 200px 0;
    @media(max-width: 768px) {
        padding: 118px 0;
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/background-image-tablet.jpg);
    }
    @media(max-width: 480px) {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/background-image-phone.jpg);
    }
}
@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        @media(max-width:480px){
        background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/background-image-phone-x2.jpg);
            }
    }
}
@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        @media(min-width:481px) and (max-width:768px) {
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/background-image-tablet-x2.jpg);
        }
    }
}
@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        @media(min-width:769px) {
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/background-image-x2.jpg);
        }
    }
}
.hero__tittle {
    margin: 0 auto;
    width: 360px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    color: $background-color;
    @media(min-width: 769px){
        font-size: 44px;
        line-height: 1.36;
        width: 696px;
    }
}

// position: absolute;
// width: 116px;
// height: 14px;
// left: 637px;
// top: 21px;

// font-family: 'Roboto';
// font-style: normal;
// font-weight: 500;
// font-size: 12px;
// line-height: 14px;
// /* identical to box height */

// letter-spacing: 0.02em;

// color: #757575;