.header-contact {
    gap: 50px;
    align-items: center;
    display: flex;
    letter-spacing: 0.02em;
    @media(max-width:768px) {
            display: block;
        }
}
@media(max-width:480px){
    .header-contact{
        display: none;
    }
}
.header-contact__block{
    @media(max-width:768px) {
        margin-bottom: 10px;
    }
}
.header-contact__link {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $text-color;
    @media(max-width:768px){
        font-size: 12px;
        line-height: 1.17;
    }
}

.header-contact__icon-envelope {
    fill: currentColor;
    width: 16px;
    height: 12px;
    margin-right: 10px;
    @media(max-width:768px){
        width: 14px;
        height: 10px;
    }
}

.header-contact__icon-smartphone {
    fill: currentColor;
    width: 10px;
    height: 16px;
    margin-right: 10px;
    @media(max-width:768px) {
        width: 10px;
        height: 14px;
    }
}