body {
    font-family: "Roboto", sans-serif;
    color: $main-text-color;
    background-color:$background-color;
    letter-spacing: 0.03em;
    font-size: 14px;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    @media(min-width:480px){
        width: 480px;
        position: relative;
    }
    @media(min-width:768px) {
        width: 768px;
    }
    @media(min-width:1200px){
        width: 1200px;
    }
}