$main-text-color: #212121;
$accent-color: #2196f3;
$text-color: #757575;
$background-color: #ffffff;
$secondary-background-color: #2f303a;
$button-background-color: #f5f4fa;
$border-color: #eeeeee;
$info-color: rgba(255, 255, 255, 0.6);
$icon-color: #afb1b8;
$background-owerlay: rgba(33, 150, 243, 0.9);